* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-around;
  height: 100px;
}
header #logo {
  display: flex;
  cursor: pointer;
}
.navegation {
  display: flex;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li {
  display: flex;
  margin: 30px;
}
i {
  margin-right: 10px;
  color: black;
}
a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
}

a::after {
  content: "";
  height: 3px;
  width: 0;
  background: green;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.5s;
  font-size: 19px;
  font-weight: 900;
}

a:hover::after {
  width: 100%;
}

.container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
}
.container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("/vendors/images/background.webp") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(7px);
  z-index: -1;
}

.back {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
.backgr {
  background: url("/vendors/Lacoste-image/rene.lacoste.webp") no-repeat center;
  background-size: cover;
  height: 100%;
}
.right {
  padding: 60px 30px;
}
.right h2 {
  margin-bottom: 30px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: underline green;
}
.right p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.right:hover h2 {
  margin-top: 20px;
  transition: 0.7s;
}

footer {
  display: flex;
  flex-direction: column;
}
footer h3 {
  text-transform: capitalize;
}

#footer-main {
  background-color: rgba(240, 248, 255, 0.5);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10px;
  margin: 0 10%;
  max-width: 100%;
}

.footer-1 p {
  margin-top: 2px;
}
.footer-1 img {
  position: relative;
  image-rendering: optimizeQuality;
  width: 270px;
}

.footer-3 {
  justify-content: space-between;
  margin-left: 30%;
  margin-top: 30px;
}

.footer-3 h4 {
  font-size: 23px;
  margin-bottom: 30px;
}
.footer-3 p {
  height: 50px;
}
#footerr {
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 253, 253);
  opacity: 70%;
}
span {
  font-weight: 900;
}
@media screen and (max-width: 500px) {
  ul {
    margin-right: 200px;
  }
  li {
    margin: 19px;
  }

  .footer-1 img {
    margin-left: 16%;
  }
  .footer-1 p {
    margin-bottom: 29px;
  }

  .footer-3 {
    margin: 0;
  }
  .footer-3 h4 {
    margin-left: 29%;
  }
  .back {
    grid-template-columns: 1fr;
    max-width: 400px;
  }
  .backgr {
    height: 200px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
  ul {
    margin-right: 100px;
  }
  li {
    margin: 19px;
  }

  .back {
    grid-template-columns: 1fr;
    max-width: 600px;
  }
  .backgr {
    height: 400px;
  }
}
