* {
  /* box-sizing: border-box; */
}
.container {
  display: flex;
  border-style: solid;
  flex-wrap: wrap;
}

.flex-child {
  display: flex;
  flex-basis: 379px;

  height: 270px;
  font-size: 30px;
  border: 2px solid green;

  align-items: center;
  justify-content: center;
}
#yellow {
  background-color: yellow;
}

#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#purple {
  background-color: purple;
}

#redz {
  background-color: red;
  /* flex-grow: 1; */
}

@media only screen and (max-width: 900px) {
  .flex-child {
    flex-basis: 900px;
    height: 100px;
    width: 500px;
  }
  .container {
    flex-wrap: nowrap;
    height: 600px;
    flex-direction: column;
  }
}
