* {
  box-sizing: border-box;
}
.container {
  display: flex;
  border-style: solid;
  flex-wrap: wrap;
  height: 400px;
  justify-content: space-between;
  /* align-items: flex-end; */
  align-items: flex-start;
  /* align-content: center; */
  /* align-content: flex-start; */
}

.flex-child {
  display: flex;
  flex-basis: 350px;
  height: 30px;
  font-size: 30px;
  border: 2px solid rgb(11, 11, 11);
  justify-content: center;
  align-items: center;
}
#yellow {
  background-color: yellow;
}

#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#purple {
  background-color: purple;
}
