* {
  margin: 0;
  padding: 0;
}
.background {
  background-image: url(/tigerachter.jpeg);
  background-size: cover;
  background-position-y: 40%;
  height: 45vh;
}

.Text {
  margin-top: 20px;
  margin-left: 30%;
  font-size: 30px;
  display: inline-flex;
}
.Field {
  display: inline-block;
  margin-left: 13.9%;
}

.Wachtwoord {
  display: inline-table;
  margin-left: 10.5%;
}
.GG {
  display: inline-flex;
  margin-left: 12.2%;
}
.Media {
  width: 69px;
  margin-left: 48%;
}
h2 {
  font-size: 70px;
  margin-left: 30%;
  text-decoration: underline;
  text-decoration-color: orange;
}

button {
  position: absolute;
  font-size: 15px;
  margin-top: 3%;
  margin-left: 30%;
  width: 120px;
  height: 35px;
  stroke-width: 2px;
  background-color: rgb(171, 171, 171);
  opacity: 80%;
  border-color: orange;
  border-style: solid;
}

@media only screen and (max-width: 480px) {
  .background {
    height: 20vh;
  }

  h2 {
    margin-left: 10%;
    font-size: 50px;
  }

  .Text {
    display: inline-flex;
    margin-left: 13.5%;
    margin-right: 20%;
  }

  .Field {
    margin-right: 29%;
  }
  .Wachtwoord {
    margin-left: 13.5%;
    display: inline-flex;
  }
  .GG {
    display: block;
  }
}

@media only screen and (max-width: 800px) and (max-height: 480px) {
  .background {
    height: 20vh;
  }
  h2 {
    margin-left: 25%;
    font-size: 50px;
  }

  .Text {
    display: inline-flex;
    margin-left: 24.5%;
    margin-right: 20%;
  }

  .Field {
    margin-left: 24.5%;
    margin-right: 70%;
  }
  .Wachtwoord {
    margin-left: 24.5%;
    display: inline-flex;
  }
  .GG {
    margin-left: 25%;
    display: block;
  }
  .Media {
    display: block;
    margin-left: 25%;
  }
}

@media only screen and (max-width: 601px) and (max-height: 962px) {
  .background {
    height: 20vh;
    background-size: cover;
  }
  h2 {
    margin-left: 25%;
    font-size: 50px;
  }

  .Text {
    display: inline-flex;
    margin-left: 24.5%;
    margin-right: 20%;
  }

  .Field {
    margin-left: 24.5%;
    margin-right: 70%;
  }
  .Wachtwoord {
    margin-left: 24.5%;
    display: inline-flex;
  }
  .GG {
    margin-left: 25%;
    display: block;
  }
  .Media {
    display: block;
    margin-left: 25%;
  }
}

@media only screen and (max-width: 360px) and (max-height: 640px) {
  .background {
    height: 20vh;
  }
  h2 {
    margin-left: 15%;
    font-size: 30px;
  }

  .Text {
    display: inline-flex;
    margin-left: 24.5%;
    margin-right: 20%;
  }

  .Field {
    margin-left: 24.5%;
    margin-right: 70%;
  }
  .Wachtwoord {
    margin-left: 24.5%;
    display: inline-flex;
  }
  .GG {
    margin-left: 25%;
    display: block;
  }
  .Media {
    display: block;
    margin-left: 25%;
  }
}
